{{define "barrederecherche"}}

<div>
    <form name="search" method="get" action="">
        <input id="searchbar" onkeyup="search_infosartistes()" type="text"
        name="Search artist.." placeholder="Artistes,titres...">

    </div>     

 <!-- ordered list -->
 <ol id='list'>
    <li class="artistes1">Queen</li>
    <li class="artistes1">Soja</li>
    <li class="artistes1">Pink floyd</li>
    <li class="artistes1">Scorpions</li>
    <li class="artistes1">Xxxtentation</li>
    <li class="artistes1">Mac miller</li>
    <li class="artistes1">Joyner lucas</li>
    <li class="artistes1">Kendrick lamar</li>
    <li class="artistes1">Acdc</li>
    <li class="artistes1">Pearl jam</li>
</ol>
  

{{end}}
